// Fonts here
// see more: https://github.com/vedees/webpack-template/blob/master/README.md#import-js-files
@font-face {
    font-family: Rubik-Black;
    src: url('/fonts/rubik/rubik-black.ttf'); /* IE9 Compat Modes */
}

@font-face {
    font-family: Rubik-Regular;
    src: url('/fonts/rubik/Rubik-Regular.ttf'); /* IE9 Compat Modes */
}

@font-face {
    font-family: Rubik-Medium;
    src: url('/fonts/rubik/Rubik-Medium.ttf'); /* IE9 Compat Modes */
}

@font-face {
    font-family: Rubik-Bold;
    src: url('/fonts/rubik/Rubik-Bold.ttf'); /* IE9 Compat Modes */
}
